@import url(https://fonts.googleapis.com/css?family=PlaywriteNorge&display=swap);

body {
    font-family: Playwrite Norge;
    background: linear-gradient(90deg, #ff0000 0%, #ffffff 100%);
}

.navbar .navbar-nav .nav-link.active {
    color: red;
}

.navbar .navbar-nav .nav-link {
    color: rgb(255, 0, 0);
}

.navbar-toggler {
    background-color: red;
}

.navbar-brand img {
    width: 40px;
}

.nav-right {
    background: linear-gradient(90deg, #ff0000 0%, #ffffff 100%);
}

.card {
    background: linear-gradient(90deg, #ff0000 0%, #ffffff 100%);
}

.card-body a {
    text-decoration: none;
    color: black;
}

.card-body a.btn {
    color: white;
}

.slide-text {
    color: black;
    margin: auto auto;
}

.footer-text {
    margin: auto auto;
}

.footer-text {
    text-decoration: none;
}
.footer, 
.btn-outline-primary {
    background: linear-gradient(90deg, #ff0000 0%, #ffffff 100%);
}

.phone anime {
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
@media(max-width: 750px) {
    .carousel-indicators {
        display: none;
    }
}